.block-css{
    width: 100px;
    height: 100px;
    background-color: #f00;
}

.block {
    border: 10px solid #267aff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}